.button-spinner{
    margin-left: 10px;
    display: none;
}

.loading {
    display: inline;
    animation: fade-in 0.2s;
}

@keyframes fade-in {
    0% { opacity: 0%; margin-left: -10px; }
    100% { opacity: 100%;}
}
