

$primary: #725174;
$secondary: rgb(67, 155, 255);
$danger: #fa5555;

@import '~bootstrap/scss/bootstrap';

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.sub-root{
  height: inherit;
  display: flex;
  flex-flow: column;
}

.home {
  flex: auto;
}

#app {
  background: #FAFAFA;
  display: flex;
  height: inherit;
}

#content {
  margin: 1rem;
  flex: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
