

$primary: #725174;
$secondary: rgb(112, 110, 112);
$danger: #dc3545;

@import '~bootstrap/scss/bootstrap';

.sub-root{
  height: inherit;
  display: flex;
  flex-flow: column;
}

.home {
  flex: auto;
}

#app {
  background: #FAFAFA;
  display: flex;
  height: inherit;
  --primary-hover: #72517425;
}

#content {
  margin: 1rem;
  flex: auto;
}
